.containers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containers h1 {
    padding: 20px 0 15px 20px;
    color: #fff;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    font-size: 50px;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:20px; /* Adjust the gap between boxes */
    margin-bottom: 20px; /* Margin at the bottom to separate from the border */
}

.box {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    border-radius: 30px;
    background: #fff;
    text-align: left;
    padding: 30px 20px;
    background-color: rgb(111, 157, 218);
    transition: 0.5s linear infinite;
    color:whitesmoke
}

.box h3{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.box p{
    font-size: 26px;
}

.box button{
    color: #212121;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 16px;
    justify-content: center;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s; /* Transition effect for smoother hover */
}

.box button:hover {
    background-color: black; /* Change background color on hover */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    color: white; /* Change text color on hover */
}

.box button:active {
    background-color: black; /* Change background color on click */
    transform: translateY(2px);
    color: white; /* Change text color on click */
}
