nav{
    width: 100%;
    color:#fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

.dark-nav{
    background-color: rgb(68, 133, 219);
    transition: 0.5s;
}

.menu-icon{
    display: none;
}

@media (max-width:1200px){
    .container{
      padding-left: 5%;
      padding-right: 5%;
    }
    .btn{
      padding: 14px 22px;
    }
  }
  
  @media (max-width: 100px){
    .logo{
      width: 140px;
    }
    nav ul li{
      margin: 10px 15px;
    }
  }
  
  @media (max-width: 840px) {
    nav{
      padding: 15px 0;
    }
    nav ul{
      position: fixed;
      top:0;
      right: 0px;
      bottom: 0;
      background: rgb(68, 133, 219);
      z-index: 1;
      min-width: 100%;
      padding-top: 70px;
      transition: 0.5s;
      text-align: center;
    }
  
    nav ul li{
      display: block;
      margin: 25px 40px;
      font-size: 3rem;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .close-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
  }